table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

.table-edit-pencil {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.btn {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.my-custom-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}


.table.dataTable tbody tr {
    height: 30px;
}


.table .form-control {
    height: 30px;
    padding: 0;
    font-size: 0.8rem;
    line-height: 30px;
}


.table.dataTable tbody td {
    padding-top: 0;
    padding-bottom: 0;
    line-height: normal;
}

/*control de tamaño de la columna */
.table.dataTable tbody td.btnCell {
    padding: 0;
    text-align: center;
}

.highlight {
    background-color: #ffcccc !important;
}

.selected-row {
    background-color: #d9edf7;
}

.selected-row,
.selected-row td,
.selected-row select {
    background-color: #b6cfed !important;
}

.modal-dialog.custom-modal {
    max-width: 600px; /* Ancho personalizado */
}

#modal-usuarios .modal-body {
    max-height: 300px; /* Altura máxima del cuerpo del modal */
    overflow-y: auto; /* Permitir desplazamiento si el contenido es más alto */
}

#modalTable {
    width: 100%; /* Asegura que la tabla use todo el ancho disponible */
}
