{% extends "index.html" %}

{% block content %}
<section class="content">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">{{ titulo }}</h2>
        </div>
        <div class="card-body">
            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12 col-md-6">

                        <div class="dt-buttons btn-group flex-wrap">
                            <button type="button" class="btn btn-primary btnAdd">
                                <i class="fa fa-plus"></i> Nuevo Catálogo
                            </button>
                        </div>
                    </div>


                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <table id="dataCatalogo" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Tipo Catalogo</th>
                                <th>Acciones</th>

                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<!-- Modal -->
<div class="modal fade" id="modalCatalogo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="tituloh5">Catalogo</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">

                <form method="post" action="." enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="add">
                    <input type="hidden"  id="id" value="0">

                    <!-- Campo cod_catalogo -->
                    <div class="form-group">
                        <label for="id_cod_catalogo">Código Catálogo</label>
                        <input type="text" name="cod_catalogo" maxlength="8" class="form-control" id="id_cod_catalogo"
                               required>
                    </div>

                    <!-- Campo nombre -->
                    <div class="form-group">
                        <label for="id_nombre">Nombre</label>
                        <input type="text" name="nombre" maxlength="60" class="form-control" id="id_nombre" required>
                    </div>

                    <!-- Campo cod_tipo_catalogo con select2 -->
                    <div class="form-group">
                        <label for="id_cod_tipo_catalogo">Tipo Catálogo</label>
                        <select name="cod_tipo_catalogo" class="form-control select2" id="id_cod_tipo_catalogo"
                                style="width: 100%; hight: 25px;" required>
                            <!-- Las opciones se llenarán dinámicamente con AJAX -->
                        </select>
                    </div>
                    <br>
                    <!-- Botones de acción -->
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelButton"><i
                            class="fa fa-times"></i> Cancelar
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>


{% block extra_js %}
<script>
    $(document).ready(function() {
        // Inicializar el select2
        $('.select2').select2({
            dropdownParent: $('#modalCatalogo'),
            width: '100%'
        });

        // Cargar los datos en el select2
         $.ajax({
            url: "{% url 'get-tipo-catalogo' %}",// funcion donde carganlos datos
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                var select = $('#id_cod_tipo_catalogo');
                select.empty();
                $.each(data, function(key, value) {
                    select.append(new Option(value.nombre, value.cod_tipo_catalogo));
                });
                // Inicializar el select2 después de cargar los datos
                select.select2({
                    dropdownParent: $('#modalCatalogo'),
                    width: '100%'
                });
            }
        });


    });


</script>
{% endblock %}
{% endblock %}